.newPasswordDiv {
    background-image: url(https://i.ibb.co/ZzL7X4L/forgot-bg.png);
}

#newPassword {
    width: 500px;
}

#resetBtn:hover {
    background-color: #ffffff;
    color: #ff0000;
}


#forgotFooter{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

@media (max-width: 525px) {
    #newPassword {
        width: 210px;
    }
}